[submodule "sw/gbridge"]
	path = sw/gbridge
	url = https://github.com/jadonk/gbridge
[submodule "sw/greybus"]
	path = sw/greybus
	url = https://github.com/jadonk/greybus
[submodule "sw/manifesto"]
	path = sw/manifesto
	url = https://github.com/jadonk/manifesto
[submodule "sw/zephyrproject/zephyr"]
	path = sw/zephyrproject/zephyr
	url = https://github.com/jadonk/zephyr
[submodule "docs/manifesto.wiki"]
	path = docs/manifesto.wiki
	url = https://github.com/vaishnav98/manifesto.wiki
[submodule "sw/usb_uart_bridge"]
	path = sw/usb_uart_bridge
	url = https://github.com/jadonk/msp430F55xx_usb_uart_bridge
[submodule "sw/ti_msp430_python_tools"]
	path = sw/ti_msp430_python_tools
	url = https://github.com/jadonk/ti_msp430_python_tools
[submodule "sw/linux/wpanusb"]
	path = sw/linux/wpanusb
	url = https://github.com/jadonk/wpanusb
[submodule "sw/zephyrproject/wpanusb_bc"]
	path = sw/zephyrproject/wpanusb_bc
	url = https://github.com/jadonk/wpanusb_bc
[submodule "sw/zephyrproject/greybus-for-zephyr"]
	path = sw/zephyrproject/greybus-for-zephyr
	url = https://github.com/jadonk/greybus-for-zephyr
[submodule "sw/zephyrproject/greybus-for-zephyr-mikrobus"]
	path = sw/zephyrproject/greybus-for-zephyr-mikrobus
	url = https://github.com/jadonk/greybus-for-zephyr
[submodule "sw/zephyrproject/mikrobus-clickid-flasher"]
	path = sw/zephyrproject/mikrobus-clickid-flasher
	url = https://github.com/jadonk/mikrobus-clickid-flasher.git
[submodule "sw/linux/bcfserial"]
	path = sw/linux/bcfserial
	url = https://github.com/jadonk/bcfserial
