CONFIG_MODULES=y
CONFIG_SYSFS=y
CONFIG_I2C=y
CONFIG_I2C_BOARDINFO=y
CONFIG_I2C_COMPAT=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_MUX=y
CONFIG_I2C_HELPER_AUTO=y
CONFIG_I2C_ALGOBIT=y
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_MEM=y
CONFIG_SPI_SPIDEV=m
CONFIG_SPI_SLAVE=y
CONFIG_SPI_SLAVE_TIME=m
CONFIG_SPI_SLAVE_SYSTEM_CONTROL=m
CONFIG_SPI_DYNAMIC=y
CONFIG_GPIOLIB=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_GPIO_GENERIC=y
CONFIG_GPIO_SYSFS=y
CONFIG_PWM=y
CONFIG_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_BUFFER_CB=m
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_IIO_CONFIGFS=m
CONFIG_IIO_TRIGGER=y
CONFIG_IIO_CONSUMERS_PER_TRIGGER=2
CONFIG_IIO_SW_DEVICE=m
CONFIG_IIO_SW_TRIGGER=m
CONFIG_IIO_TRIGGERED_EVENT=m
CONFIG_HWMON=y
CONFIG_HWMON_VID=m
CONFIG_SENSORS_IIO_HWMON=m
CONFIG_MIKROBUS=y
CONFIG_STAGING=y
CONFIG_FB=y
CONFIG_FB_TFT=m
CONFIG_MCP320X=m
CONFIG_BMI160_I2C=m
CONFIG_INV_MPU6050_I2C=m
CONFIG_INV_MPU6050_SPI=m
CONFIG_IIO_ST_LSM6DSX=m
CONFIG_IIO_ST_LSM6DSX_I2C=m
CONFIG_IIO_ST_ACCEL_3AXIS=m
CONFIG_IIO_ST_ACCEL_I2C_3AXIS=m
CONFIG_IIO_ST_MAGN_3AXIS=m
CONFIG_IIO_ST_MAGN_I2C_3AXIS=m
CONFIG_IIO_ST_GYRO_3AXIS=m
CONFIG_IIO_ST_GYRO_I2C_3AXIS=m
CONFIG_IIO_ST_PRESS=m
CONFIG_IIO_ST_PRESS_I2C=m
CONFIG_BMA400=m
CONFIG_BMA400_I2C=m
CONFIG_AD5593R=m
CONFIG_MCP3422=m
CONFIG_AD7476=m
CONFIG_AD7124=m
CONFIG_TI_ADS1015=m
CONFIG_CCS811=m
CONFIG_SENSORS_MCP3021=m
CONFIG_ICP10100=m
CONFIG_MPL3115=m
CONFIG_OPT3001=m
CONFIG_BH1750=m
CONFIG_VEML6030=m
CONFIG_ISL29125=m
CONFIG_TCS3472=m
CONFIG_MCP4725=m
CONFIG_MCP4922=m
CONFIG_MCP4131=m
CONFIG_AD5446=m
CONFIG_EEPROM_AT24=m
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_ETHERNET=y
CONFIG_NET_VENDOR_MICROCHIP=y
CONFIG_ENC28J60=m
CONFIG_WIZNET_W5100=m
CONFIG_WIZNET_W5100_SPI=m
CONFIG_BMC150_MAGN=m
CONFIG_BMC150_MAGN_I2C=m
CONFIG_FXAS21002C=m
CONFIG_FXAS21002C_I2C=m
CONFIG_HDC100X=m
CONFIG_AFE4404=m
CONFIG_MAX30102=m
CONFIG_APDS9960=m
CONFIG_TMP007=m
CONFIG_RFD77402=m
CONFIG_VL6180=m
CONFIG_FB_TFT_SSD1306=m
CONFIG_FB_TFT_SSD1351=m
CONFIG_DPS310=m
CONFIG_MS5637=m
CONFIG_SI1145=m
CONFIG_VCNL4035=m
CONFIG_VCNL4000=m
CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_DS1307=m
CONFIG_SENSORS_SHT3x=m
CONFIG_SI7020=m
CONFIG_SENSORS_SHTC1=m
CONFIG_SENSORS_JC42=m
CONFIG_SENSORS_LM90=m
CONFIG_SENSORS_TMP102=m
CONFIG_MAXIM_THERMOCOUPLE=m
CONFIG_AS3935=m
CONFIG_VEML6070=m
CONFIG_BMP280_I2C=m
CONFIG_BMP280_SPI=m
CONFIG_SENSORS_MAX6642=m
CONFIG_MAX44000=m
CONFIG_SENSORS_TSL2563=m
CONFIG_HTS221=m
CONFIG_HTS221_I2C=m
CONFIG_SENSORS_SHT21=m
CONFIG_MS5611=m
CONFIG_MS5611_I2C=m
CONFIG_MAX30100=m
# CONFIG_INPUT_ADXL34X is not set
CONFIG_ADXL345=m
CONFIG_ADXL345_I2C=m
CONFIG_IAQCORE=m
CONFIG_AD525X_DPOT=m
CONFIG_AD5624R_SPI=m
CONFIG_NFC=m
CONFIG_NFC_DIGITAL=m
CONFIG_NFC_ST95HF=m
CONFIG_BMC150_ACCEL=m
CONFIG_BMC150_ACCEL_I2C=m
CONFIG_BMP280=m
CONFIG_BME680=m
CONFIG_BME680_I2C=m
CONFIG_AK8975=m
CONFIG_EEPROM_AT25=m
CONFIG_W1=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
