/*
 * Copyright (c) 2020, Jason Kridner, BeagleBoard.org Foundation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	// Grove module defaults to 0x76
	// Environment Click defaults to 0x76
	environment: bme680@77 {
		compatible = "bosch,bme680";
		reg = <0x77>;
		label = "BME680-ENVIRONMENT";
	};
};
