/*
 * Copyright (c) 2020, Jason Kridner, BeagleBoard.org Foundation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	// Grove module defaults to 0x76
	// Environment Click defaults to 0x76
	environment: bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
		label = "BME680-ENVIRONMENT";
	};

	/* Don't error out, even if these devices aren't installed */
	accel: lis2dh12-accel@18 {
		compatible = "st,lis2dh12", "st,lis2dh", "st,lis2de12";
		reg = <0x18>;
		label = "LIS2DE12-ACCEL";
	};

	light: opt3001-light@44 {
		compatible = "ti,opt3001";
		reg = <0x44>;
		label = "OPT3001-LIGHT";
	};

	humidity: hdc2010-humidity@40 {
		compatible = "ti,hdc20x0";
		reg = <0x40>;
		/* drdy-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>; */
		label = "HDC2010-HUMIDITY";
	};
};
